.content-ticket {
  border: 2px solid red;
  margin-bottom: 5px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-header-price {
  color: var(--primary-colors-primary-500, #2196f3);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 100% */
}

.ticket-header-logo {
  display: block;
  max-width: 110px;
  max-height: 36px;
}

.ticket-table-info {
  width: 100%;
}
