.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__main {
    width: 66.6%;
    max-width: 600px;
    @media screen and (max-width: 768px) {
      width: 95%;
    }
  }
}
